.Footer {
    width: calc(100% - 20px);
    height: 100px;
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    box-shadow: 0 -5px 8px var(--primary-shadow-color);
    opacity: .7;

    box-sizing: border-box;
    border-radius: 8px;
}

.Footer div {
    margin-left: -40%;

    font-size: 16px;

    animation: heart ease 10s infinite;
}

.Footer div {
    font-size: 16px;
}

@keyframes heart {
    0% {
        margin-left: -40%;
    }
    50% {
        margin-left: 40%;
    }
    100% {
        margin-left: -40%;
    }
}

